@using CodeCloude.Models
@model SliderVM;
@{
    ViewData["Title"] = "Create";
}


<!-- Basic Vertical form layout section start -->
<section id="basic-vertical-layouts">
    <div class="row match-height">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">تعديل البانر</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-vertical" asp-action="Edite" asp-controller="Slider" enctype="multipart/form-data">
                        <input type="hidden" asp-for="@Model.Id" />
                        <input type="hidden" asp-for="@Model.Slider_ImgUrl" />
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="first-name-vertical">العنوان </label>
                                        <input type="text" id="first-name-vertical" class="form-control" asp-for="Title" placeholder="العنوان">
                                    </div>
                                </div>
                                   <div class="col-12">
                                    <div class="form-group">
                                        <label for="first-name-vertical">الوصف </label>
                                        <input type="text" id="first-name-vertical" class="form-control" asp-for="Sub_Title" placeholder="الوصف">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <fieldset class="form-group">
                                        <label for="basicInputFile">صورة البانر</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" asp-for="Photo" id="inputGroupFile01">
                                            <label class="custom-file-label">Choose file</label>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary mr-1 mb-1">حفظ</button>
                                    <a asp-action="Index" asp-controller="Slider" class="btn btn-outline-primary">العودة</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>


